/*Accent color : #E65100*/

html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

html, body {
	margin: 0;
	padding: 0;
	font-family: 'Open-Sans', sans-serif;
	background-color: #f1f1f1;
}

a {
	text-decoration: none;
	color: #91B6AF;
	font-weight: bold;
}

button {
	border: none;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

ul {
	margin: 0;
	padding: 0;
}

header {
	width: 100%;
	min-height: 550px;
	height: 100%;
	background: url("../images/general/chicago.jpg");
	background-position: top center;
	background-repeat: no-repeat;
	background-size: 100%;
}

header a {
	color: white;
}

header > h1 {
	text-align: center;
	padding-top: 1.6em;
	font-size: 130px;
	color: white;
}

header > h2 {
	text-align: center;
	font-size: 30px;
	color: white;
}

.work-link {
	width: 180px;
	height: 60px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2em;
	border-radius: 5px;
	color: white;
	/*background-color: #91B6AF;*/
	/*background-color: #FB8C00;*/
	/*background-color: #EF6C00;*/
	
	background-color: #E65100;
	font-size: 1.1em;
	font-weight: bold;
	text-align: center;
	line-height: 60px;
	vertical-align: middle;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
}

.work-link:hover {
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	transform: scale(1.1);
}

.faux-button {
	width: 180px;
	height: 60px;
	margin-left: auto;
	margin-right: auto;
	/*margin-top: 2em;*/
	border-radius: 5px;
	color: white;

	background-color: #E65100;
	font-size: 1.1em;
	font-weight: bold;
	text-align: center;
	line-height: 60px;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
}

.faux-button:hover {
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	transform: scale(1.1);	
}

/*Nav*/

.nav {
	list-style: none;
	float: left;
	margin-top: 1em;
	margin-left: 1em;
}

.nav-item {
	display: inline-block;
	font-size: 1.2em;
	margin-right: 1em;
}

.nav-item > a {
	transition: color 0.3s;
}

.nav-item > a:hover {
	/*color: #FB8C00;*/
	color: #E65100;
}

/*Main*/
.main-container {
/*	width: 1200px;*/
	width: 95%;
	margin-left: auto;
	margin-right: auto;

}

section {
	padding: 0 100px 0 100px;
}

section:nth-child(odd) {
 	background-color: #FFFFFD;
}

section:nth-child(even) {
	background-color: #F7F7F7;
}

section {
	padding-top: 2em;
}

section > h2 {
	margin-bottom: 1em;
	font-size: 2.5em;
}


/*Projects*/
.projects {
	width: 100%;
}

.projects > h2 {
	font-size: 2.5em;
}

.project {
	height: 350px;
	overflow: hidden;
}

.project-info > h2, .project-info > p {
	opacity: 0.87;
}

.project-info > h2 {
	font-size: 2.5em;
}

.project-img {
	float:left; 
	width: 50%;
	height: 325px;
	box-shadow: 2px 4px 8px #999;
}

.project-info {
	float: left;
	width: 50%;
	height: 100%;
	padding-left: 2em;
	padding-right: 1em;
}

.project-info > p {
	margin-top: 1.5em;
	line-height: 25px;
}

.tools {
	list-style: none;
	margin-top: 0.25em;
}

.tool-item {
	display: inline-block;
	margin-right: 1em;
	margin-bottom: 0.5em;
	padding: 0.25em 0.5em 0.25em 0.5em;

	/*border: 2px solid #66BB6A;*/
	border-radius: 8px;
	background-color: #91B6AF;
	/*background-color: #FB8C00;*/
	/*background-color: #E65100;*/
	color: white;
	
	font-size: 0.9em;
	font-weight: bold;
}

/*Contact*/

.contact {
/*	background-color: #F7F7F7;*/
}

/*Contact form*/


.form-wrapper {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

.field {
	margin-bottom: 1em;
	position: relative;
}

.name-field, .email-field {
	display: inline-block;
	width: 50%;
	margin-right: 0;
	margin-left: 0;
}

.name-field {
	padding-right: 0.5em;
	float: left;
}

.email-field {
	padding-left: 0.5em;
	float: right;
}

.button-field {
	text-align: center;
}

.form-result {
	margin: 1em 0;
	font-size: 1.2em;
	text-align: center;
	
}

.success:before {
	content: '\2714';
	color: green;
}

.error:before {
	content: '\2716';
	color: red;
}

input {
	height: 2.5em;
	width: 100%;
}

textarea {
	width: 100%;
	height: 180px;
}

label {
	display: block;
	margin-bottom: 0.5em;
	font-size: 1.1em;
	color: #E65100;
}

.clear {
	clear: both;
}