#alternates {
	margin-right: auto;
	margin-left: auto;
}

.alt-img {
	cursor: pointer;
	height: 200px;
	width: 200px;
	display: inline-block;	
	margin-right: 1em;
	margin-left: 1em;
	position: relative;
}

.alt-img img {
	max-height: 100%;
	max-width: 100%;
}

.alt-img span {
	display: none;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 14pt;
	padding: 0em;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}

button {
	width: 75px;
	height: 40px;
	float: left;
	margin-top: 1em;
}


/*Control wrapper necessary for centering floated fieldsets, which is necessary to deal with 
  weird vertical alignment caused by inline-block*/
#control-wrapper {
	width: 100%;
	height: 50px;
	position: relative;	
}

#controls {
	overflow: hidden;
	position: absolute;
	left: 50%;
	top: 0;
	transform: translateX(-50%);
}

#controls:after {
	clear: both;
}

.credit {
	text-align: center;
	font-size: 0.7em;
	margin-bottom: 0;
	margin-top: 2em;
}

.current img {
	opacity: 0.4;
}

.current span {
	display: block;
	position: absolute;
	top: 50%;
	width: 100%;
	text-align: center;
	font-size: 1.5em;
	color: white;
	text-shadow: 3px 3px #000;
	font-weight: bold;
}

fieldset {
	float: left;
	font-size: 10pt;
	padding: 0.5em;
	height: 40px;
	width: 110px;
}

h1 {
	margin-top: 0;
}

h1 + p {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}

.neighbor:hover {
	border: 3px solid red;	
	cursor: pointer;
}

.neighbor:hover p {
	color: red;	
}

/*.normal and .small alter font size depending on tile size for readability.*/
.normal {
	font-size: 40pt;
}

.normal p {
	text-shadow: 3px 3px #000;
}

.small {
	font-size: 15pt;
}

.small p {
	text-shadow: 2px 2px #000;
}

#puzzlearea {
	height: 400px;
	margin-bottom: 0.5em;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 400px;
}

/*Tile size determined by puzzle size in fifteen.js*/
.tile {
	background-image: url("images/dome.jpg");
	border: 3px solid black;
	color: green;	
	margin: 0;
	position: absolute;	
}

.tile p {
	margin: auto;
	color: #fff;
	width: 100%;
	text-align: center;

	/*Vertical center*/
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.tile p:hover {
	cursor: default;
}

#win {
	background-color: rgba(0, 0, 0, 0.6);
	display: none;
	height: 300px;
	position: absolute;
	top: 52%;
	transform: translateY(-50%);
	width: 100%;
}

#win p {
	color: white;
	font-size: 2.7em;	
	margin-top: 2em;
	text-align: center;	
}