@mixin range-thumb {
  border: 0px solid #000000;
  height: 20px;
  width: 40px;
  border-radius: 10px;
  background: $medium;
  cursor: default;
}

@mixin range-track {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  cursor: default;
  background: $light;
  border-radius: 25px;
}