html {
	box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/*Common elements, classes*/
html, body {
	position: relative;
	height: 100%;
	margin: 0;
	padding: 0;
	font-size: 1em;
	font-family: 'Open Sans', sans-serif;
}

.wrap {
	width: 100%;
	height: 100%;
}

a {
	cursor: pointer;
}

a.selected, li:hover .name, li.selected .name {
	color: orange;
}

.hidden {
	display: none;
}

/* Map */
#map {
	height: 100%;
	width: 100%;
}

/*Sidebar*/
aside {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	width: 25%;
	height: 100%;
	color: #fff;
	background-color: rgba(0, 0, 0, 0.6);
	font-size: 1.1rem;
	overflow: auto;
}

header {
	width: 100%;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	background-color: rgba(0, 0, 0, 0.8);
}

h1 {
	text-align: center;
	font-size: 1.8rem;
	word-spacing: 0.15rem;
}

h1 > span {
	color: orange;
}

.filters {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.filters > a {	
	padding: 1rem;
	font-size: 1.2rem;
}

/* List */
.places {
	padding: 0;
	margin: 0;
}

.place-item {
	width: 100%;
	margin: 0;
	padding: 0.5rem;
	list-style: none;
	overflow: hidden;
	cursor: pointer;
}

.place-item:nth-child(odd) {
	background-color: rgba(0, 0, 0, 0.6);
}

.place-item:nth-child(even) {
	background-color: rgba(0, 0, 0, 0.7);
}

.name, .rating {
	float: left;
	
}

.price {
	float: right;
}


/* Error Message */
.error {
	position: absolute;
	top: 40%; /*Slightly higher than center preferred */
	left:50%;
	-webkit-transform: translate(-50%, -50%);
	z-index: 2;
	
	width: 350px;
	height: 150px;

	background-color: #fff;
	border: 2px solid #A8DAF7;
	border-radius: 10px;	
	text-align: center;
}

.error > p {
	margin-top: 1.5rem;
	padding-left: 1rem;
	padding-right: 1rem;
}

.error-status {
	font-weight: bold;
}

.close {
	position: absolute;
	top: 0;
	right: 0;
	padding: 5px;
	font-weight: bold;
	cursor: pointer;
}

/* Info Window*/
.info-content > a, .info-content > p, .info-content > h3 {
	margin: 0;
}

/* Mobile */
@media screen and (max-width: 800px) {

	/*On mobile the aside won't work with bottom: 0 for some reason, so use top: 60
	to force to bottom.  Height should be complimentary, and #map should compliment aside height
	so that zoom controls still usable */
	aside {
		position: absolute;
		top: 60%;		
		z-index: 1;
		height: 40%;
		width: 100%;
		background-color: rgba(0, 0, 0, 0.6);
		overflow: auto;		
	}

	#map {
		position: absolute;
		top: 0;
		height: 60%;
		width: 100%;
	}

	.error {
		top: 30%; /*Slightly higher than center preferred */
		width: 80%;
		height: 25%;	
	}

	.error > h3 {
		margin-bottom: 0.25rem;
	}

	.error > p {
		margin-top: 0;
	}
}