//General

.hidden {
  display: none;
}

.clear {
  clear: both;
}

//Main screen
.game-choice {
  margin-top: 0em;
}

.game-description {
  @include center-block;
  text-align: center;

  dt {
    color: white;
    font-size: 1.1em;
    font-weight: bold;
    text-shadow: 1px 1px #000;

  }

  dd {
    margin-bottom: 1em;
  }
}


//Ship Picker
.ship-picker {
  display: none;
  width: 75%;
  margin: auto;
}

.ship-list {

  li {
    height: 1.5em;
    width: 90%;
    margin: 0.5em;
    font-weight: bold;
    border-bottom: 2px solid $board-border-color;
    list-style: none;

    p {
      float: left;
      margin-top: 0;
      margin-bottom: 0;
      padding: 0;
    }

    .remove {
      display: inline-block;
      float: right;
      width: 15px;
      color: red;
      font-weight: bold;
      cursor: pointer;
    }
  }
}

.ship-choices {
  // border-spacing: 0.75em;
}

.ship-choice {
  display: inline-block;
  width: 125px;
  height: 60px;
  line-height: 60px;
  margin: 1em;
  padding: 0 1em 0 1em;

  @include faux-button;

  &.inactive {
    background-color: gray;
  }
}

//Ship Placer
.ship-placer {
  display: none;

  
  .board {
    margin-right: auto;
    margin-left: auto;

  }
}

.ships-to-place {
  position: absolute;
  top: 2em;
  right: 0;
  width: 250px;

  ul {
    list-style: none;
    padding: 0;

    li {
      width: 150px;
      height: 50px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 1.5em;      
      line-height: 50px;

      @include faux-button;

      &.active {
        background-color: green;
      }

      &.inactive {
        background-color: gray;
      }
    }
  }
}

.instructions p {
  text-align: center;
  font-size: 1.4em;
}

//Game

.game-area {
  overflow: hidden;
  width: auto;  
}

.end-anim {
  display: none;
  position: absolute;
  top: 40%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  width: 100%;
  background-color: rgba(0,0,0, 0.7);
  color: #fff;
  height: 200px;
  

  h3 {
    font-size: 2em;
   
  }

  p {
    text-align: center;
    opacity: 1;
  }
 }

//Stats
.player-stats {
  width: 45%;
  display: inline-block;
  background-color: $board_color;
  margin-left: 2em;
  border-radius: $board_border_radius;
  border: 3px solid $board_border_color;
  padding: 1em;
}